.main-header {
  height: 100px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__right {
  margin-left: 10px;
}

.button__new-task {
  margin-right: 10px;
}

.call-icon, .profile-icon {
  width: 25px;
  height: 25px;
  margin: 0 0 5px 5px;
}

.main-header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: #fff;
  margin-right: 10px;
  padding: 5px;
  font-weight: 500;
  border-radius: 0.3rem;
}
